@font-face {
  font-family: 'iconfont';  /* project id 462825 */
  src: url('//at.alicdn.com/t/font_462825_qscqdb205dgnl8fr.eot');
  src: url('//at.alicdn.com/t/font_462825_qscqdb205dgnl8fr.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_462825_qscqdb205dgnl8fr.woff') format('woff'),
  url('//at.alicdn.com/t/font_462825_qscqdb205dgnl8fr.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_462825_qscqdb205dgnl8fr.svg#iconfont') format('svg');
}

.iconfont {
  font-family: iconfont !important;
}
